.main-form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-form__label {
  display: flex;
  font-weight: 700;
  font-size: 1.5rem;
  gap: 5px;
  align-items: center;
}

.main-form__button {
  font-size: 1rem;
  color: #fff;
  background-color: #2f82ff;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
}

.main-form__input {
  /* height: auto; */
  height: 1.5rem;
  border-radius: 5px;
  border: 1px solid;
}
